  You must select a game mode. If you choose the mode of manual arrangement of ships, you must alternately place 10 ships, starting with the longest and ending with the smallest. When arranging, enter the first coordinate and the last without leaving the fields. After placing the ships, the main stage of the game begins, where each participant takes turns making a move. In case of hitting the ship, the next move belongs to the current player, otherwise - to the second player. When one of the players sinks all enemy ships, the game is over. Also, there is the Sea Monster - it eats one of your 1-deck ship if you don`t hit a ship for 5 times in a row.